@import "Properties.module.css";

.statusLine {
    background-color: var(--grey);
    border: 1px solid var(--white);
    border-radius: 0.25rem;
    padding: 1rem;
    max-width: 300px;
    margin: 1rem;
    text-align: left;
}

.statusLine h3 {
    font-weight:500;
    margin-bottom: 1rem 0;
    color: var(--white);
}

.button {
    background-color: var(--gold);
    border: none;
    color: var(--white);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.button:hover {
    background-color: var(--highlight);
}
/* @media only screen and (max-width: 75rem) {
    .statusLine {
        width: initial;
    }
} */